<div class="row">
    <nav class="navbar navbar-default top-page">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--a class="navbar-brand" href="#">Brand</a-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!--<ul class="nav navbar-nav navbar-right"></ul>-->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <!-- xing -->
                        <a title="XING" onclick="trackLink(this,'social-media','xing');return false;"
                           href="https://www.xing.com/profile/Martin_Dilger2" target="_blank" rel="me"><img
                                src="http://www.xing.com/img/n/xing_icon_32x32.png" width="32" height="32" alt="XING"
                                target="_blank"></a></li>
                    <li>
                        <!-- gulp -->
                        <a title="Beraterprofil auf Gulp" href="http://www.gulp.de/Profil/martindilger.html"
                           target="_blank" onclick="trackLink(this,'social-media','gulp');return false;" rel="me"><img
                                src="https://www.gulp.de/presse/images/bildmaterial/gulp-logo.jpg" height="32"
                                alt="Gulp Berater Profil"></a></li>
                    <li>
                        <!-- twitter -->
                        <a title="Twitter" href="https://twitter.com/#!/dilgerma" target="_blank" rel="me"
                           onclick="trackLink(this,'social-media','twitter');return false;">
                            <img src="https://effectivetrainings.de/images/twitter.png" width="32"
                                                                     height="32"
                                                                     alt="Twitter"></a>
                    <li>
                        <!-- github -->
                        <a title="Github" href="https://github.com/dilgerma" target="_blank" rel="me"
                           onclick="trackLink(this,'social-media','github');return false;"><img
                                src="http://effectivetrainings.de/images/effective/github.png" width="32" height="32"
                                alt="GitHub"
                                target="_blank"></a>
                    </li>
                    <li>
                        <!-- slideshare -->
                        <a title="Slideshare" href="http://de.slideshare.net/effectivetrainings"
                           onclick="trackLink(this,'social-media','slideshare');return false;" target="_blank" rel="me"><img
                                src="https://effectivetrainings.de/images/effective/slideshare.png" width="32"
                                height="32"
                                alt="Slideshare"></a>
                    </li>
                </ul>
                <!--ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    </li>
                </ul-->
            </div>
            <!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>


