@media only screen and (min-width: 600px) {
    .top-page {
        background-image: url("/assets/images/muenchen.png");
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }

}

.navbar-default {
    @extend .navbar-default;
    height: 120px;
}

.well {
    color: white;
}

.sidebar-well {
    @extend .well;
    margin-top: 15px;
}

.admonitionblock {
    margin: 20px 0px 10px 0px;
}

.admonitionblock >> .title {
    margin-right: 15px;
}
