@media only screen and (min-width: 600px) {
  .top-page {
    background-image: url("/assets/images/docker.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

}

.navbar-default {
  @extend .navbar-default;
  height: 120px;
}

.well {
  color: white;
}

.sidebar-well {
  @extend .well;
  margin-top: 15px;
}

.admonitionblock {
  margin: 40px 0px 40px 0px;
}

.admonitionblock .content {
  border-left: 1px solid $effective-green;
  padding: 5px;
  color: #9d9d9d;
  padding: 30px;
}

.admonitionblock .title {
  margin-right: 15px;
  padding: 15px;
  text-align: center;
  color: $effective-green;
  font-weight: bold;
  font-size: 1.5em;
}

.effective_green {
  color: $brand-primary;
}

.colist li {
  font-weight: bold;
  list-style-type: decimal;
}

.listingblock {
  padding: 5px;
}

.listingblock .highlight {
  background: $effective-green;
  color: white;
}

strong {
  background: $effective-green;
  border-radius: 2px;
  color:white;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.conum {
  color: black
}

.sect1 {
  border-top: 1px solid #6aad2e;
  margin-bottom: 50px;
}

.post-date {
  color:#444444;
}

strong a {
  color: white;
}

h3 {
  color: #6aad2e !important;
  border-radius: 2px;
  text-align: center;
  padding: 15px
}

li.excerpt {
  margin-bottom: 25px;
}